@font-face {
    font-family: "Gabriela";
    src: local("Gabriela"),
      url("../common/Gabriela-Regular.ttf") format("truetype");
    font-weight: normal;
    }
.navbar {
    font-family: Gabriela;
    color: #a83299;
    background-color: #F6EAF6;
    border-bottom: 2px solid #a83299;
    width:100%;
    }
