.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F6EAF6;
    border-top: 2px solid #a83299;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.footer_icon{
    padding : 10px; 
    width: 50px;
    height: 50px;
}
.footer_p{
    font-size: 12px;
    padding: 1px;
    margin-bottom:1px;
}
.footer_socialmedia_icons{
    text-align: right;
}
.footer_text{
    width:620px;
}

@media only screen and (max-width: 620px) {
    .footer{
        grid-template-columns: 1fr ;
    }
    .footer_socialmedia_icons{
        text-align: left;
    }
    .footer_text{
        width:100%;
    }
    
  }